<div class="col-lg-2">
  <h1>Github Users</h1>

  <table class="table table-sm">
    <thead>
      <tr>
        <th>Name</th>
        <th>Repositories</th>
        <th>Stars</th>
      </tr>
    </thead>

    <tbody>
      <% @github_users.each do |github_user| %>
        <tr>
          <td><%= github_user.name %></td>
          <td><%= github_user.repositories.size %></td>
          <td><%= github_user.stars %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<br>

<div>
  <%= link_to 'New Search', root_path, class: 'btn btn-primary' %>
</div>
