<% if @error %>
  <%= render 'error_messages_form', error: @error %>
<% end %>

<div class="col-lg-2">
  <p>
  <strong>Name:</strong>
  <%= @user_name if @user_name %>
  </p>

  <p>
  <strong>Repositories:</strong>
  <% if @user_repositories && @user_repositories.any? %>
    <% @user_repositories.each do |user_repository| %>
      <ul class="list-group">
        <li class="list-group-item list-group-item-info"><%= user_repository.first %></li>
        <li class="list-group-item"><%= user_repository.last %></li>
      </ul>
    <% end %>
  <% end %>
  </p>
</div>

<br>

<div>
  <%= link_to 'New Search', root_path, class: 'btn btn-primary' %>
</div>
