<!DOCTYPE html>
<html>
  <head>
    <title>PeopleSearchApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="navbar navbar-default">
      <div class="navbar-header">
        <a class="navbar-brand text" href="/">Search</a>
        <a class="navbar-brand text" href="/users">Github Users</a>
      </div>
    </div>
    <%= yield %>
  </body>
</html>
